/.nb-gradle/
/build/
.gradle/
openTCS-%PROJECT_NAME%-Documentation/build/
openTCS-%PROJECT_NAME%-Documentation/.nb-gradle/
openTCS-%PROJECT_NAME%-Kernel/build/
openTCS-%PROJECT_NAME%-Kernel/.nb-gradle/
openTCS-%PROJECT_NAME%-KernelControlCenter/build/
openTCS-%PROJECT_NAME%-KernelControlCenter/.nb-gradle/
openTCS-%PROJECT_NAME%-PlantOverview/build/
openTCS-%PROJECT_NAME%-PlantOverview/.nb-gradle/
openTCS-%PROJECT_NAME%-Common/build/
openTCS-%PROJECT_NAME%-Common/.nb-gradle/
openTCS-%PROJECT_NAME%-CommAdapter/build/
openTCS-%PROJECT_NAME%-CommAdapter/.nb-gradle/
