rootProject.name = 'openTCS-%PROJECT_NAME%'

include 'openTCS-%PROJECT_NAME%-Kernel'
include 'openTCS-%PROJECT_NAME%-KernelControlCenter'
include 'openTCS-%PROJECT_NAME%-PlantOverview'
include 'openTCS-%PROJECT_NAME%-Documentation'
include 'openTCS-%PROJECT_NAME%-Common'
include 'openTCS-%PROJECT_NAME%-CommAdapter-Vehicle'
