# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Default settings
# Each of the following settings can be overwritten for any file type / path.
[*]
charset = utf-8
# Use spaces instead of tabs
indent_style = space
# 2 space indentation by default
indent_size = 2
# 4 space continuation indentation (might not be supported for all file types/domains)
continuation_indent_size = 4
# Use Unix-style newlines
end_of_line = lf
# New line at the end of each file
insert_final_newline = true
# Trim trailing whitespaces
trim_trailing_whitespace = true

[*.bat]
end_of_line = crlf
