# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Default settings
# Each of the following settings can be overwritten for any file type / path.
[*]
charset = utf-8
# Use spaces instead of tabs
indent_style = space
# 2 space indentation by default
indent_size = 2
# 4 space continuation indentation (might not be supported for all file types/domains)
continuation_indent_size = 4
# Use Unix-style newlines
end_of_line = lf
# New line at the end of each file
insert_final_newline = true
# Trim trailing whitespaces
trim_trailing_whitespace = true

# Configure the visual guide for IntelliJ IDEA
ij_visual_guides = 100

[*.bat]
end_of_line = crlf

[*.java]
# Configure code style rules for IntelliJ IDEA
ij_java_align_multiline_binary_operation = true
ij_java_align_multiline_extends_list = true
ij_java_align_multiline_parameters_in_calls = true
ij_java_align_multiline_throws_list = true
ij_java_catch_on_new_line = true
ij_java_continuation_indent_size = 4
ij_java_else_on_new_line = true
ij_java_enum_constants_wrap = split_into_lines
ij_java_extends_keyword_wrap = split_into_lines
ij_java_throws_keyword_wrap = split_into_lines

ij_java_doc_align_param_comments = false
ij_java_doc_align_exception_comments = false
ij_java_doc_preserve_line_breaks = true

