/.gradle/
/.nb-gradle/
/openTCS-CommAdapter-Loopback/build/
/openTCS-Strategies-Default/build/
/openTCS-Kernel/build/
/openTCS-PlantOverview/build/
/openTCS-Documentation/build/
/build/
*~
/openTCS-Common/build/
/openTCS-API-Injection/build/
/openTCS-API-Base/build/
/openTCS-KernelControlCenter/.nb-gradle/
/openTCS-KernelControlCenter/build/
/openTCS-Impl-Configuration-cfg4j/build/
/openTCS-Kernel-Extension-RMI-Services/build/
/openTCS-Kernel-Extension-TCP-Host-Interface/build/
/openTCS-Kernel-Extension-HTTP-Services/build/
/openTCS-Kernel-Extension-Statistics/build/
/openTCS-PeripheralCommAdapter-Loopback/build/
/openTCS-PlantOverview-Panel-LoadGenerator/build/
/openTCS-PlantOverview-Panel-ResourceAllocation/build/
/openTCS-PlantOverview-Panel-Statistics/build/
/openTCS-PlantOverview-Themes-Default/build/
/openTCS-PlantOverview-Base/build/
/openTCS-PlantOverview-Common/build/
/openTCS-ModelEditor/build/
/openTCS-OperationsDesk/build/
