/.gradle/
/.nb-gradle/
/openTCS-Base/build/
/openTCS-Kernel/build/
/openTCS-PlantOverview/build/
/openTCS-Documentation/build/
/openTCS-IntegrationTests/build/
/build/
*~
/openTCS-Strategies-Basic/build/