/.gradle/
/.nb-gradle/
/openTCS-Base/build/
/openTCS-CommAdapter-Loopback/build/
/openTCS-Strategies-Default/build/
/openTCS-Kernel/build/
/openTCS-PlantOverview/build/
/openTCS-Documentation/build/
/build/
*~
/openTCS-Common/build/
/openTCS-API-Injection/build/
/openTCS-API-Base/build/