= openTCS: %PROJECT_NAME% Kommunikationsprotokoll
Stefan Walter <stefan.walter@iml.fraunhofer.de>
openTCS-%PROJECT_NAME% {project-version} erzeugt am {buildDate}
:toc-title: Inhaltsverzeichnis
:chapter-label: Kapitel

// TIP: Always have the comprehensive http://asciidoctor.org/docs/asciidoc-syntax-quick-reference[QuickReference] handy.
