= openTCS: %PROJECT_NAME% Documentation
John Doe <john.doe@example.com>
openTCS-%PROJECT_NAME% {project-version} built on {buildDate}

// TIP: Always have the comprehensive http://asciidoctor.org/docs/asciidoc-syntax-quick-reference[QuickReference] handy.
