dependencies {
  compile project(':openTCS-%PROJECT_NAME%-Common')
  
  compile group: 'org.opentcs', name: 'opentcs-api-injection', version: openTcsBaselineVersion
  compileOnly group: 'org.opentcs', name: 'opentcs-api-injection', version: openTcsBaselineVersion, classifier: 'sources'

  compile group: 'org.opentcs', name: 'opentcs-common', version: openTcsBaselineVersion
  compileOnly group: 'org.opentcs', name: 'opentcs-common', version: openTcsBaselineVersion, classifier: 'sources'
}
